DJANGO_TRUSTED_ORIGINS: "http://localhost:8001"
DJANGO_ALLOWED_HOSTS: "localhost"
DJANGO_SECRET: "django-insecure-ydtr_#%%p3g188$cptutqw9s7f5b-rjmvgi^l@o^s(*&ob53fh-replaceme"
DB_NAME: "eviction"
DB_PASS: "<DB-PW>"
DB_HOST: "db"
