<!doctype html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=800, width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="CK19hv3jS6qCbvuGm8ti8zxwP6EOpKD5W17P5MCw">

    <title>Search Records | Franklin County Municipal Court Clerk Records Search</title>


    <link href="/nextgen/storage/css/app.20251214154952.css" rel="stylesheet">
    <link href="/nextgen/fontawesome/css/all.min.css?v=6.5.1&r=1" rel="stylesheet">



    <style>
    </style>

</head>
<body>
    <div id="app" class="mb-5">
                    <nav class="navbar navbar-expand-md navbar-light shadow-sm">
                <div class="container">
                    <a class="navbar-brand fs-6 lh-sm" href="/nextgen">
                                                NextGen Secure Access
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- Left Side Of Navbar -->
                        <ul class="navbar-nav me-auto">
                                                            <li class="nav-item">
                                    <a class="nav-link" href="/nextgen/case/search">Search</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/nextgen/ecourt">eCourt</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/nextgen/briefcase">Briefcase</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                        Schedules
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/nextgen/attorney-schedule/search">
                                            Attorney Schedule
                                        </a>
                                        <a class="dropdown-item" href="/nextgen/interpreter/schedule">
                                            Interpreter Schedule
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                        Reports
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/nextgen/reports/daily-arraignment">
                                            Daily Arraignment
                                        </a>
                                        <a class="dropdown-item" href="/nextgen/reports/4d-list">
                                            4D List
                                        </a>
                                        <a class="dropdown-item" href="/nextgen/reports/evictions">
                                            Monthly Evictions
                                        </a>
                                    </div>
                                </li>
                                                    </ul>

                        <!-- Right Side Of Navbar -->
                        <ul class="navbar-nav ms-auto">
                            <!-- Authentication Links -->
                                                            <li class="nav-item d-sm-none d-lg-inline">
                                    <a href="/nextgen/redirect/efiling-website" target="_blank" class="nav-link" data-toggle="tooltip" data-bs-placement="bottom" title="Open eFiling Website">
                                        <i class="fas fa-cloud-upload-alt"></i>
                                        <span class="d-md-none">Open eFiling Website</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/nextgen/feature-request" class="nav-link" data-toggle="tooltip" data-bs-placement="bottom" title="Feature Request">
                                        <i class="fas fa-comment"></i>
                                        <span class="d-md-none">Feature Request</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#helpModal" data-toggle="tooltip" data-bs-placement="bottom" title="Help">
                                        <i class="fas fa-question-circle"></i>
                                        <span class="d-md-none">Help</span>
                                    </button>
                                </li>


                                <li class="nav-item dropdown">
                                    <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                        CURA Geography
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/nextgen/profile">
                                            Profile
                                        </a>
                                        <a class="dropdown-item" href="/nextgen/logout"
                                           onclick="event.preventDefault();
                                                         document.getElementById('logout-form').submit();">
                                            Logout
                                        </a>

                                        <form id="logout-form" action="/nextgen/logout" method="POST" class="d-none">
                                            <input type="hidden" name="_token" value="CK19hv3jS6qCbvuGm8ti8zxwP6EOpKD5W17P5MCw">                                        </form>
                                    </div>
                                </li>
                                                    </ul>
                    </div>
                </div>
            </nav>

        <main class="py-4">





                <div class="container">
        <form method="post" action="/nextgen/case/search/results">
            <input type="hidden" name="_token" value="CK19hv3jS6qCbvuGm8ti8zxwP6EOpKD5W17P5MCw">            <div class="row">
                <div class="col-md-12 mb-3 pb-5">
                    <div class="card shadow">
                        <div class="card-header">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fas fa-search fa-fw"></i> Search</button>
                            <a href="/nextgen/case/search" class="btn btn-sm btn-info text-white"><i class="fas fa-sync fa-fw"></i> Clear Search</a>
                        </div>
                        <div class="card-body pt-0 pb-0">

                            <div class="row">
                                <div class="col-md-6 mb-3">

                                    <label for="last_name" class="form-label mt-2 mb-0 fw-bold small">Last Name</label>
                                    <input type="text" name="last_name" value="" class="form-control form-control-sm border-dark-subtle " id="last_name">

                                    <label for="first_name" class="form-label mt-2 mb-0 fw-bold small">First Name</label>
                                    <input type="text" name="first_name" value="" class="form-control form-control-sm border-dark-subtle " id="first_name">

                                    <label for="middle_name" class="form-label mt-2 mb-0 fw-bold small">Middle Name</label>
                                    <input type="text" name="middle_name" value="" class="form-control form-control-sm border-dark-subtle " id="middle_name">

                                    <label for="date_of_birth" class="form-label mt-2 mb-0 fw-bold small">Date of birth (MM/DD/YYYY)</label>
                                    <input type="date" name="date_of_birth" value="" class="form-control form-control-sm border-dark-subtle " id="date_of_birth">

                                    <label for="company_name" class="form-label mt-2 mb-0 fw-bold small">Company Name</label>
                                    <input type="text" name="company_name" value="" class="form-control form-control-sm border-dark-subtle " id="company_name">

                                    <label for="party_type" class="form-label mt-2 mb-0 fw-bold small">Party Type</label>
                                    <select name="party_type" id="party_type" class="form-select form-select-sm ">
                                                                                    <option value="" selected>
                                                ALL
                                            </option>
                                                                                    <option value="ALIAS" >
                                                ALIAS
                                            </option>
                                                                                    <option value="APPELLANT" >
                                                APPELLANT
                                            </option>
                                                                                    <option value="APPELLEE" >
                                                APPELLEE
                                            </option>
                                                                                    <option value="BOND DEPOSITOR" >
                                                BOND DEPOSITOR
                                            </option>
                                                                                    <option value="CITY SOLICITOR" >
                                                CITY SOLICITOR
                                            </option>
                                                                                    <option value="CREDITOR" >
                                                CREDITOR
                                            </option>
                                                                                    <option value="DEBTOR" >
                                                DEBTOR
                                            </option>
                                                                                    <option value="DEFENDANT" >
                                                DEFENDANT
                                            </option>
                                                                                    <option value="DEPOSITOR FOR BOND" >
                                                DEPOSITOR FOR BOND
                                            </option>
                                                                                    <option value="GARNISHEE" >
                                                GARNISHEE
                                            </option>
                                                                                    <option value="INTERPRETER" >
                                                INTERPRETER
                                            </option>
                                                                                    <option value="LANDLORD" >
                                                LANDLORD
                                            </option>
                                                                                    <option value="NON DEFENDANT VEH. OWNER" >
                                                NON DEFENDANT VEH. OWNER
                                            </option>
                                                                                    <option value="OFFICER" >
                                                OFFICER
                                            </option>
                                                                                    <option value="OFFICER COMPLAINANT" >
                                                OFFICER COMPLAINANT
                                            </option>
                                                                                    <option value="OUT OF COUNTY CASE" >
                                                OUT OF COUNTY CASE
                                            </option>
                                                                                    <option value="PARTY COMPLAINANT" >
                                                PARTY COMPLAINANT
                                            </option>
                                                                                    <option value="PLAINTIFF" >
                                                PLAINTIFF
                                            </option>
                                                                                    <option value="PROSECUTOR" >
                                                PROSECUTOR
                                            </option>
                                                                                    <option value="TENANT" >
                                                TENANT
                                            </option>
                                                                                    <option value="THIRD PARTY CLAIMANT" >
                                                THIRD PARTY CLAIMANT
                                            </option>
                                                                                    <option value="THIRD PARTY DEFENDANT" >
                                                THIRD PARTY DEFENDANT
                                            </option>
                                                                                    <option value="THIRD PARTY PLAINTIFF" >
                                                THIRD PARTY PLAINTIFF
                                            </option>
                                                                            </select>

                                                                            <label for="ssn" class="form-label mt-2 mb-0 fw-bold small">SSN</label>
                                        <input type="text" name="ssn" value="" class="form-control form-control-sm border-dark-subtle " id="ssn">

                                        <label for="driver_license" class="form-label mt-2 mb-0 fw-bold small">Driver License</label>
                                        <input type="text" name="driver_license" value="" class="form-control form-control-sm border-dark-subtle " id="driver_licensedriver_license">

                                        <label for="license_plate" class="form-label mt-2 mb-0 fw-bold small">License Plate</label>
                                        <input type="text" name="license_plate" value="" class="form-control form-control-sm border-dark-subtle " id="license_plate">
                                                                                                            </div>

                                <div class="col-md-6 mb-3">

                                    <label for="case_number" class="form-label mt-2 mb-0 fw-bold small">Case Number</label>
                                    {{form.case_number}}

                                    <label for="ticket_number" class="form-label mt-2 mb-0 fw-bold small">Ticket Number</label>
                                    <input type="text" name="ticket_number" value="" class="form-control form-control-sm border-dark-subtle " id="ticket_number">

                                    <label for="case_type" class="form-label mt-2 mb-0 fw-bold small">Case Type</label>
                                    <select name="case_type" id="case_type" class="form-select form-select-sm ">
                                                                                    <option value="" selected>
                                                ALL
                                            </option>
                                                                                    <option value="CIVIL" >
                                                CIVIL
                                            </option>
                                                                                    <option value="CRIMINAL/TRAFFIC" >
                                                CRIMINAL/TRAFFIC
                                            </option>
                                                                            </select>

                                    <label for="case_year" class="form-label mt-2 mb-0 fw-bold small">Case Year (YYYY)</label>
                                    <input type="text" name="case_year" value="" class="form-control form-control-sm border-dark-subtle " id="case_year">

                                    <label for="case_status" class="form-label mt-2 mb-0 fw-bold small">Case Status</label>
                                    <select name="case_status" id="case_status" class="form-select form-select-sm ">
                                                                                    <option value="" selected>
                                                ALL
                                            </option>
                                                                                    <option value="(CIV)INDIV ASSIGN" >
                                                (CIV)INDIV ASSIGN
                                            </option>
                                                                                    <option value="CLOSED" >
                                                CLOSED
                                            </option>
                                                                                    <option value="CONVERSION STATUS CODE" >
                                                CONVERSION STATUS CODE
                                            </option>
                                                                                    <option value="DIVERSION" >
                                                DIVERSION
                                            </option>
                                                                                    <option value="DUPLICATED" >
                                                DUPLICATED
                                            </option>
                                                                                    <option value="IND ASSIGNMENT" >
                                                IND ASSIGNMENT
                                            </option>
                                                                                    <option value="JAIL" >
                                                JAIL
                                            </option>
                                                                                    <option value="NONREPORTING LICENSE CONDITION" >
                                                NONREPORTING LICENSE CONDITION
                                            </option>
                                                                                    <option value="NRPC" >
                                                NRPC
                                            </option>
                                                                                    <option value="OIRH" >
                                                OIRH
                                            </option>
                                                                                    <option value="OPEN" >
                                                OPEN
                                            </option>
                                                                                    <option value="POST SENTENCE HEARING" >
                                                POST SENTENCE HEARING
                                            </option>
                                                                                    <option value="PROVIDED NO CONVICTIONS" >
                                                PROVIDED NO CONVICTIONS
                                            </option>
                                                                                    <option value="REOPEN (RO)" >
                                                REOPEN (RO)
                                            </option>
                                                                                    <option value="SUBMITTED TO JUDGE" >
                                                SUBMITTED TO JUDGE
                                            </option>
                                                                                    <option value="SUBMITTED TO MAGISTRATE" >
                                                SUBMITTED TO MAGISTRATE
                                            </option>
                                                                            </select>

                                    <label for="file_date" class="form-label mt-2 mb-0 fw-bold small">File Date (MM/DD/YYYY)</label>
                                    <input type="date" name="file_date" value="" class="form-control form-control-sm border-dark-subtle " id="file_date">

                                    <label for="offense_date" class="form-label mt-2 mb-0 fw-bold small">Offense Date (MM/DD/YYYY)</label>
                                    <input type="date" name="offense_date" value="" class="form-control form-control-sm border-dark-subtle " id="offense_date">

                                    <label for="scr_code" class="form-label mt-2 mb-0 fw-bold small">SCR Code</label>
                                    <select name="scr_code" id="case_status" class="form-select form-select-sm ">
                                                                                    <option value="" selected>
                                                ALL
                                            </option>
                                                                                    <option value="CRIMINAL FELONY" >
                                                CRIMINAL FELONY
                                            </option>
                                                                                    <option value="CRIMINAL MISDEMEANOR" >
                                                CRIMINAL MISDEMEANOR
                                            </option>
                                                                                    <option value="TRAFFIC GENERAL" >
                                                TRAFFIC GENERAL
                                            </option>
                                                                                    <option value="TRAFFIC OVI" >
                                                TRAFFIC OVI
                                            </option>
                                                                            </select>

                                </div>
                            </div>

                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fas fa-search fa-fw"></i> Search</button>
                            <a href="/nextgen/case/search" class="btn btn-sm btn-info text-white"><i class="fas fa-sync fa-fw"></i> Clear Search</a>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>


            <!-- Modal -->
            <div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="helpModalLabel">Help and Tips</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Use the <i class="far fa-copy fa-lg fa-fw"></i> icon to copy the case number to your clipboard</li>
                                <li class="list-group-item">Use the <i class="fas fa-external-link-alt fa-lg fa-fw"></i> icon to open the case on Secure Access</li>
                                <li class="list-group-item">Use the <i class="fas fa-search fa-lg fa-fw"></i> icon to search for the case number on Secure Access</li>
                                <li class="list-group-item">Use the <i class="fas fa-clone fa-lg fa-fw"></i> icon to view the Public Access Case Info in a pop-up</li>
                                <li class="list-group-item">Use the <i class="fas fa-file-image fa-lg fa-fw"></i> icon to view scanned docket images</li>
                                <li class="list-group-item">Hover over the abbreviations to view the full text</li>
                                <li class="list-group-item">When viewing search results, at times a "Search" field is available to filter the records displayed (for example, filter by case number, name, jurisdiction, etc.)</li>
                                <li class="list-group-item">
                                    When filtering results, to view only cases without an event result, type the word "pending" or a back tick ` into the search field.
                                    The backtick key is below the "Esc" key and to the left of the "1" key.
                                </li>
                                <li class="list-group-item">
                                    When filtering results, Multiple search terms can be used at the same time.
                                    For example, open an eCourt Docket for Courtroom 1A Criminal-Traffic and try searching for "OHP speed pending".
                                </li>
                                <li class="list-group-item">
                                    Certain case information may not be available online due to confidentiality, court orders, or other relevant considerations.
                                </li>
                                <li class="list-group-item">
                                    The Secure Access platform is a means to provide limited information about cases, but it may not always reflect the complete and up-to-date status of a case.
                                    For the most accurate record, individuals are directed to consult the relevant Clerk's Office division,  Clerk's Case Management System, or physical case file.
                                </li>
                                <li class="list-group-item">
                                    For performance reasons, data may be cached to decrease page load times.
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>

    <!-- Scripts -->
    <script src="/nextgen/storage/js/app.20251214154952.js"></script>

    <!-- Site JS -->
    <script>
        $(document).ready(function() {
            $('.alert').alert()
            $('#flash-overlay-modal').modal();
            $('.tip').tooltip();
            $("#alert-bottom").fadeTo(10000, 500).slideDown(500, function(){
                $("#alert-bottom").slideUp(500);
            });
            $('.datatable').DataTable({paging: false});
            $('[data-toggle="tooltip"]').tooltip({ trigger: "hover" });

            $('.btn-highlight').click(function() {
                $(this).addClass('btn-success');
                $(this).removeClass('btn-primary');
            });
            var theme = $('html').data('bs-theme');
            if(theme === 'dark') {
                $('.invertable').css({
                    'filter': 'invert(80%)'
                });
            }
        } );
    </script>

    </body>
</html>
