<!doctype html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- http://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=WGaEXQLByx">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=WGaEXQLByx" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=WGaEXQLByx" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=WGaEXQLByx">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=WGaEXQLByx" color="#333333">
    <link rel="shortcut icon" href="/favicon.ico?v=WGaEXQLByx">
    <meta name="apple-mobile-web-app-title" content="FCMC Clerk">
    <meta name="application-name" content="FCMC Clerk">
    <meta name="theme-color" content="#eeeeee">

    <title>Monthly Civil F.E.D (Eviction) Case List</title>


    <link rel="stylesheet" href="/css/combined.css?id=e77692f11e1473fb94e2b75f58f3900c">
    <link rel="stylesheet" href="/css/patch.css?v=1775232769">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="/js/html5shiv.min.js"></script>
        <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="top"></div>

    <a href="#page" class="sr-only sr-only-focusable">Skip to main content</a>

	        <nav class="navbar-main navbar navbar-default navbar-inverse">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">FCMC Clerk</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="../case/search" style="margin-left: 0; margin-right: 0;">Search Records</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-left: 0; margin-right: 0;">Departments <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../lori-m-tyack">Clerk Lori M. Tyack</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Departments</li>
                        <li><a href="../clerk/accounting-finance">Accounting/Finance</a></li>
                        <li><a href="../clerk/audit-and-internal-controls">Audit &amp; Internal Controls</a></li>
                        <li><a href="../clerk/civil">Civil</a></li>
                        <li><a href="../clerk/clerk-of-court">Clerk of Court</a></li>
                        <li><a href="../clerk/collections">Collections</a></li>
                        <li><a href="../clerk/criminal">Criminal</a></li>
                        <li><a href="../clerk/information-services">Information Services</a></li>
                        <li><a href="../clerk/traffic-violations">Traffic Violations</a></li>
                        <li class="divider"></li>
                        <li><a href="../clerk/employment">Employment</a></li>
                        <li><a href="../clerk/contact-information">Contact Us</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-left: 0; margin-right: 0;">Reports <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../reports/4d-list">4D List</a></li>
                        <li><a href="../reports/annual-reports">Annual Reports</a></li>
                        <li><a href="../reports/daily-arraignment">Daily Arraignment</a></li>
                        <li><a href="../reports/evictions">Monthly Evictions</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-left: 0; margin-right: 0;">Documents <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Forms</li>
                        <li><a href="../forms/attorney">Attorney</a></li>
                        <li><a href="../forms/civil">Civil</a></li>
                        <li><a href="../forms/criminal-traffic">Criminal/Traffic</a></li>
                        <li><a href="../forms/mayors-court">Mayor&#039;s Court</a></li>
                        <li><a href="../forms/miscellaneous">Miscellaneous</a></li>
                        <li><a href="../forms/small-claims">Small Claims</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Additional</li>
                        <li><a href="../founding-documents">Founding Documents</a></li>
                        <li><a href="../court/local-rules">Local Rules</a></li>
                        <li><a href="../media-releases">Media Releases</a></li>
                        <li><a href="../clerk/retention-and-public-records">Retention &amp; Public Records</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-left: 0; margin-right: 0;">More <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Getting Around</li>
                        <li><a href="../directions">Directions</a></li>
                        <li><a href="../building-directory">Building Directory</a></li>
                        <li><a href="../office-hours">Hours of Operation &amp; Holidays</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Knowledge Base</li>
                        <!--<li><a href="../faq">Articles</a></li>-->
                        <li><a href="../faq">FAQ</a></li>
                        <li><a href="../history">History</a></li>
                        <li><a href="../links">Links to Associated Agencies</a></li>
                        <li><a href="../mission-and-privacy-statements">Mission &amp; Privacy Statements</a></li>
                        <li><a href="../search-website">Search Website</a></li>
                        <li class="divider"></li>
                        <li><a href="../clerk/employment">Employment</a></li>
                        <li><a href="../clerk/contact-information">Contact Us</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>

        <section
        class="page-header-section page-header-image-default "
        aria-labelledby="page-header-title"
>
    <div class="container">
        <header class="page-header pull-left">
            <h1 id="page-header-title">
                <span class="hidden-xxs" aria-hidden="true">
                    Monthly Civil F.E.D. Case List
                </span>
                <span class="visible-xxs">
                    Monthly Civil F.E.D. Case List
                </span>

                                    <small>Eviction reports</small>
                            </h1>
        </header>
    </div>
</section>
    <div id="page-wrapper">
        <div class="container" id="page">


            <div
            class="alert alert-disclaimer hidden-print"
            id="announcement"
            role="region"
            aria-labelledby="announcement-heading"
            aria-live="polite"
            aria-atomic="true"
    >
        <h2 id="announcement-heading" class="sr-only">Announcement</h2>
        <p><b>Scam Alert!</b> The Clerk's Office has been informed of a scam involving  text messages claiming they have an unpaid parking ticket and must either pay a fine or appear in court.</p>
<p>These texts are not coming from the Franklin County Municipal Court or the Clerk.</p>
<p>Additional information: <a href="../documents/announcements/scam-example-document-2026-03.pdf" target="_blank">Example scam document</a> and <a href="https://www.dispatch.com/story/news/local/2026/03/05/franklin-county-court-warns-of-parking-ticket-toll-fee-scam-texts/88998751007/" target=_"blank">Dispatch article</a>.
    </div>








<div class="row">
    <div class="col-md-3 col-md-push-9">
        <div class="panel panel-default">
            <div class="panel-body">

                <ul class="list-unstyled list-index anchor-list">
                    <li><a href="#overview" class="anchor-link">Overview</a></li>
                    <li><a href="#reports" class="anchor-link">Reports</a></li>
                </ul>

                <address>
                    FCMC Clerk<br>
                    375 South High Street<br>
                    Columbus, Ohio 43215<br>
                    <span class="no-wrap"><a href="tel:16146458186">(614) 645-8186</a></span>
                </address>

            </div>
        </div>
    </div>
    <div class="col-md-9 col-md-pull-3">

        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <a href="#top" class="scroll-up pull-right hidden-print" role="button" aria-label="Scroll to top of page">
        <i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i>
        <span class="sr-only">Scroll to top of page</span>
    </a>
                        <a id="overview" class="anchor-heading" aria-hidden="true"></a><h2 class="anchored">
                <a href="#overview" id="overview-heading">Overview</a>
              </h2>

                        <p>
                            Due to the volume of public record requests regarding Civil F.E.D. (Forcible Entry and Detainer) cases,
                            also known as eviction cases, monthly reports will be published to assist in this process.
                            On a nightly basis, reports will be created for F.E.D cases filed the current month and each of the previous 12 months.
                            The reports are in CSV (comma-separated values) format that is compatible with Microsoft Excel, OpenOffice/LibreOffice Calc, Notepad, and more.
                        </p>
                        <p>
                            Information contained within the reports is detailed by the report header and include:
                            case number, file date, last disposition information,
                            first plaintiff and most recent address, and first defendant and most recent address.
                            Party information is limited to the first plaintiff and first defendant listed on the case, there may be additional parties on the case.
                        </p>
                        <div class="alert alert-danger">
                            The reports contain the mailing address of the parties which may or may not
                            be related to the property referenced in the filing complaint.
                        </div>
                        <p>

                        </p>
                        <p>
                            Additional details regarding case information can be found by:
                            <ul>
                                <li>Utilizing <a href="../case/search">FCMC Clerk Records Search</a></li>
                                <li>Calling the Civil Department <span class="no-wrap"><a href="tel:16146457220">(614) 645-7220</a></span></li>
                            </ul>

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <a href="#top" class="scroll-up pull-right hidden-print" role="button" aria-label="Scroll to top of page">
        <i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i>
        <span class="sr-only">Scroll to top of page</span>
    </a>
                        <a id="reports" class="anchor-heading" aria-hidden="true"></a><h2 class="anchored">
                <a href="#reports" id="reports-heading">Reports</a>
              </h2>

                        <ul class="list-unstyled">
                                                            <ul>
                                                                {% for csv in csvs %}
                                                                            <li>
                                            <i class="fa fa-file-excel-o fa-fw"></i>
                                            <a href="/storage/shared/civil-fed/FCMC Civil F.E.D. (Eviction) Case List {{ csv.0 }} to {{ csv.1 }}.csv?{{ csv.2 }}" target="_blank">FCMC Civil F.E.D. (Eviction) Case List {{ csv.0 }} to {{ csv.1 }}.csv</a>
                                        </li>
                                                                {% endfor %}
                                                                    </ul>
                                                    </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


        </div>
    </div>


            <footer class="hidden-print footer-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-footer">
                    <h3>
                        <a href="/"><span class="no-wrap">Franklin County</span>
                        <span class="no-wrap">Municipal Court</span></a>
                        <span class="show-xs hidden-sm hidden-md hidden-lg"><br></span>
                        <span class="no-wrap"><small>Clerk Lori M. Tyack</small></span>
                    </h3>
                </div>
                                    <ul class="list-inline">
                        <li><a href="../case/search">Search Records</a></li>
                        <li><a href="../forms">View Forms</a></li>
                        <li><a href="../directions">Get Directions</a></li>
                        <li><a href="../clerk/contact-information">Contact the Clerk&#039;s Office</a></li>
                        <li><a href="../court/contact-information">Contact the Court</a></li>
                    </ul>



            </div>
        </div>
    </div>
</footer>


    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        if(typeof($.fn.modal) === 'undefined') {
            document.write('<script src="/js/bootstrap.min.js"><\/script>')
        }
    </script>

    <!-- Site JS -->
    <script>
        $(document).ready(function() {
            $('#flash-overlay-modal').modal();
            $('.tip').tooltip();
        } );
    </script>


</body>
</html>
